*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
	background-color: hsl(30, 54%, 90%);
	font-family: 'Outfit',sans-serif;
	font-weight: 300;
	min-height: 100vh;
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
	color: hsl(30, 10%, 34%)
}

img {
	width: 100%;
	max-width: 960px;
	display: block;
}

.panel {
	background-color: white;
	width: 100%;
	max-width: 960px;
}

header, .ingredients, .instructions {
	padding: 0 30px;
}

header p {
	margin-top: 30px;
	margin-bottom: 30px;
}

h1 {
	font-size: 2.3rem;
	font-family: 'Young Serif', sans-serif;	
	color: hsl(24, 5%, 18%);
	line-height: 1;
	margin-top: 40px;
}

.preparation-time {
	background-color: hsl(330, 100%, 98%);
	border-radius: 10px;
	padding: 2px 25px 15px 25px;	
}

h3 {
	font-weight: 600;
	color: hsl(332, 51%, 32%);
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}

.preparation-time ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.prepa-content {
	display: inline-block;		
	padding-left: 33px;
}


.preparation-time li {
	display: flex;
	align-items: center;
	position: relative;
	padding-left: 5px;
	margin-bottom: 5px;
 }

.preparation-time li::before {
    content: "•";
    color: hsl(332, 51%, 32%);    
    position: absolute;
	font-size: 25px;
}

.bold {
	font-weight: bold;
}

h2 {
	font-size: 1.7rem;
	font-family: 'Young Serif', serif;	
	color: hsl(14, 45%, 36%);
	margin-top: 30px;
	margin-bottom: 20px;

}

.ingredients ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ingredients li {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 8px;
}

.ingredients-content {
	display: inline-block;
	padding-left: 35px;
}

.ingredients li::before {
    content: "•";
    color: hsl(332, 51%, 32%);    
    position: absolute;
	font-size: 25px;
	padding-left: 5px;
}

hr {
	border: none; 
    height: 1px; 
    background-color: hsl(30, 18%, 87%);
	margin: 30px 30px 0 30px;	
}

ol {
	padding-left: 22px;
}

.instructions-content {		
	padding-left: 18px;	
}

.instructions-content::marker {
	color: hsl(14, 45%, 36%);
	font-weight: bold;
}

